    </div>

    <div class="footer-padding"></div>

    <div class="footer">
        <p class="mb-0 text-center">Copyright © 2020-2021 | Made with ❤️ by The Rogue Academy</p>
    </div>
    <!-- <footer class="footer">
        <p class="mb-0 text-center">Copyright © 2020-2021 | Made with ❤️ by The Rogue Academy</p>
    </footer> -->
</div>
</body>

</html>