<%- include('partials/header'); -%>

<h1>Compose</h1>

<div>
    
    <form action="/compose" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Blog Title</label><br>
            <input type="text" class="form-control" name="postTitle" placeholder="Enter Blog Title" width="" required="true">
        </div>
        <div class="mb-3">
            <label for="post" class="form-label">Blog Post</label><br>
            <textarea class="form-control" name="postBody" placeholder="Enter Blog" id="" cols="30" rows="5" required="true"></textarea>
        </div>
        <br>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Publish</button>
        </div>
    </form>
</div>

<%- include('partials/footer'); -%>